<h1>Missions Control Panel</h1>
<h2>Listing All Missions</h2>
<div class='missionslist'>
<ul>
<% @missions.each do |mission| %>
	<li>
		<a href='missions/<%= mission.id %>'>
    	<% if mission.user == current_user %>
    		<div class='mission_badge mission_owner'></div>
    	<% end %>
    	<% if mission.mission_priority.name == 'High' %>
    		<div class='mission_badge mission_high'></div>
    	<% end %>
    	<span class='title'><%= mission.title %></span>
    	<span class='description'><%= mission.short_description %></span>
        <!-- 
        <% if can?(:update, mission) %>
        	<%= link_to 'Edit', edit_mission_path(mission) %>
        <% end %>
        <% if can?(:destroy, mission) %>
        	<%= link_to 'Delete', mission, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
        -->
       </a> 
  </li>
<% end %>
</ul>
</div>

<%= link_to 'New Mission', new_mission_path %>
