<h1>Listing missions</h1>

<table>
  <tr>
    <th>Creator</th>
    <th>Title</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Options</th>
  </tr>

<% @missions.each do |mission| %>
  <tr>
    <td><%= mission.user.try(:username) %></td>
    <td><%= mission.title %></td>
    <td><%= mission.description %></td>
    <td><%= mission.priority.try(:name) %></td>
    <td>
      <ul class="options">
        <li><%= link_to 'Show', mission %></li>
        <% if can?(:update, mission) %>
          <li><%= link_to 'Edit', edit_mission_path(mission) %></li>
        <% end %>
        <% if can?(:destroy, mission) %>
          <li><%= link_to 'Delete', mission, :confirm => 'Are you sure?', :method => :delete %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mission', new_mission_path %>
