<h1>MISSION: <em><%= @mission.title %></em></h1>
<p>
<%= @mission.description %>
</p>
<h2 class='owner'>Status: <span class='<%= @mission.status.downcase %>'><%= @mission.status %></span></h2>
<p>
Posted by: <span class='user'><%= @mission.user.try(:username) %></span><br />
Posted on: <span class='heavy'><%= @mission.human_time %></span><br />
</p>

<% if @mission.status != "Complete" %>
  <%= link_to_if (can? :accept, @mission), 'Accept', accept_mission_path(@mission) %> |
  <% if can? :manage, @mission %>
    <%= link_to 'Edit', edit_mission_path(@mission) %> |
    <%= link_to 'Delete', mission_path(@mission), 
                :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to 'Back', missions_path %>
<% end %>

<h2>Mission Attempts</h2>
<ul id="mission_attempts">
<% @mission.mission_attempts.each do |attempt| %>
  <li>
    <span class='user'><%= attempt.user.username %></span> is <%= attempt.status.downcase %>
    <% if attempt.status == "Done" %>
    	- waiting for <%= @mission.user.try(:username) %>'s approval
    <% end %>
    <% if @mission.user == current_user %>
    <div class='mission_approve'>
      <%= link_to "Approve", approve_mission_path(@mission, attempt.user.id) if attempt.status == "Done" %>
    </div>
    <% end %>
  </li>
<% end %>
</ul>
