<h1>MISSION: <em><%= @mission.title %></em></h1>
<p>
<%= @mission.description %>
</p>
<h2 class='owner'>Status: <span class='available'>Available</span></h2>
<p>
Posted by: <span class='heavy'><%= @mission.user.try(:username) %></span><br />
Posted on: <span class='heavy'><%= @mission.human_time %></span><br />
</p>


<%= link_to_if (can? :accept, @mission), 'Accept', accept_mission_path(@mission) %> |
<% if can? :manage, @mission %>
  <%= link_to 'Edit', edit_mission_path(@mission) %> |
  <%= link_to 'Delete', mission_path(@mission), 
              :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', missions_path %>

<p id="notice"><%= notice %></p>