<h1>MISSION: <em><%= @mission.title %></em></h1>
<p>
<%= @mission.description %>
</p>
<h2>Extra Details</h2>
<p>
Posted by: <%= @mission.user.try(:username) %><br />
Priority: <%= @mission.priority.try(:name) %>
</p>


<%= link_to_if (can? :accept, @mission), 'Accept', accept_mission_path(@mission) %> |
<% if can? :manage, @mission %>
  <%= link_to 'Edit', edit_mission_path(@mission) %> |
  <%= link_to 'Delete', mission_path(@mission), 
              :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', missions_path %>

<p id="notice"><%= notice %></p>